.mail-list-wrap {
  margin: 10px;
  padding: 5px;
  border: 1px solid rgba(144, 144, 144, 0.4);
  width: 180px;
  overflow: hidden;
  height: 40px;

  .mail-heading {
    font-size: 14px;
    color: silver;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    a {
      color: #666;
    }
    a:hover {
      color: #000;
      font-size: 15px;
      font-weight: 900;
      text-decoration: none;
    }
  }
}
.mails-sidebar-wrap {
  max-height: 400px;
  overflow: scroll;
  margin-right: 20px;
}

.active-link {
  border-color: green;
  font-weight: bold;
  .mail-heading a {
    color: Green;
  }
}
